<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Week8._2_Inclass2AttemptLogin.Properties.Settings.LoginConnectionString"
            connectionString="Data Source=.\;Initial Catalog=Login;Persist Security Info=True;User ID=chris;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Week8._2_Inclass2AttemptLogin.Properties.Settings.LoginConnectionString1"
            connectionString="Data Source=.\;Initial Catalog=Login;User ID=midterm2;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>